@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;

  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: antiquewhite;
  font-size: 16px;

}


.header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}

h1 {
  text-align: center;
}


/* Card layout */
.card-container {
  display: flex;
  /* Use flexbox to align cards */
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  flex: 1 1 calc(100% - 16px);
  /* Default to full width with gap on small screens */
  max-width: 400px;
  margin-bottom: 16px;

  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  /* Ensures the card is a flex container */
  width: calc(50% - 16px);
  /* Initially, each card takes half of the container minus gap */
  justify-content: center;
}




.card-details p {
  margin: 0;
  padding: 0;
}

.card-left {
  flex: 1;
  max-width: 50%;
  position: relative;
  overflow: hidden;
}

.card-right {
  flex: 1;
  max-width: 50%;
  padding: 2px;
  margin: 2px;
  box-sizing: border-box;
  background-color: ghostwhite;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-details h2 {
  margin-top: 0;
}

/* Optional: Add styling for hover effect or other interactions */
.card:hover {
  box-shadow: 0px 0px 20px #0056b3;
  cursor: pointer;
}


.card.marked {
  border: 1px solid #0056b3;
  box-shadow: 0px 0px 30px #0056b3;

}


/* footer */




.footer {
  position: fixed;
  padding: 16px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center; /* Center items vertically */
}

.footer-container {

  display: flex;
  align-items: center;
  text-align: center;
}


.hidden-footer {
  opacity: 0;
  pointer-events: none;
  display: none;
}


.options-content {
  display: flex;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 16px;
  box-sizing: border-box;
  display: none;
  justify-content: center;
}

.options-content.show {
  display: flex;
}

.options-content.show input {
  width: 75%;
  border-radius: 20px;
  border: 2px solid #ccc;
  font-size: 16px;
  padding: 16px;
  
}

.options-content.show button {
  width: 25%;
}

button,
a {
  flex: 1;
  width: 100%;
  padding: 16px;
  background-color: rgb(0, 140, 190);
  margin: 5px;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
  cursor: pointer;
  line-height: 25px;
  font-family: 'Special Elite', system-ui;
  text-decoration: none;
  font-size: 16px;
}

button:hover,
a:hover {
  background-color: #0056b3;
}


/* Media Queries for smal phones*/
@media (max-width: 600px) {
  .card-container {
    display: flex;
    justify-content: center;
    /* Center the card horizontally */
  }

  .card {
    flex: 1 1 calc(100% - 32px);
    /* Calculate width with 16px margin on each side */
    max-width: 400px;
    /* Maximum width for the card */
    margin: 0 16px
    /* Set margin on each side */
  }
}

@media (min-width: 600px) {
  .card-container {
    display: flex;
    justify-content: center;
    /* Center the card horizontally */
  }

  .card {
    flex: 1 1 calc(100% - 32px);
    /* Calculate width with 16px margin on each side */
    max-width: 400px;
    /* Maximum width for the card */
    margin: 0 16px;
    /* Set margin on each side */
  }
}

/* settings */

.settings-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.settings {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: antiquewhite;
}

.settings.show {
  display: flex;
}

.settings-content {
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.settings-button {
  background: none;
  border: none;
  padding: 0;
}

.settings-button:hover {
  background: none;
}

.settings-button img,
.settings-button button {
  width: 25px;
  height: 25px;
  padding: 16px;
  cursor: pointer;
}

body {
  padding-bottom: 0; /* Initial padding */
}
