/* Card layout */
.card-container {
  display: flex; /* Use flexbox to align cards */
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1 1 calc(100% - 20px); /* Default to full width with gap on small screens */
  max-width: 400px;
  margin-bottom: 20px;

  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex; /* Ensures the card is a flex container */
  width: calc(50% - 20px); /* Initially, each card takes half of the container minus gap */
  justify-content: center;
}

.card-details p {
  margin: 0; /* Remove default margin for <p> elements */
  padding: 0; /* Remove default padding for <p> elements */
}

.card-left {
  flex: 1;
  max-width: 50%;
  position: relative;
  overflow: hidden;
}

.card-right {
  flex: 1;
  max-width: 50%;
  padding: 2px;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-details h2 {
  margin-top: 0;
}

/* Optional: Add styling for hover effect or other interactions */
.card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  align-items: center;
}

.options-dropdown {
  position: relative;
}


.options-content {
  position: fixed;
  bottom: 10%;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  box-sizing: border-box;
  display: none;
  justify-content: center;
}

.options-content.show {
  display: flex;
  transform: translateY(0);
  
}

.options-content.show input{
  width: 75%;
}

.options-content.show button{
  width: 25%;
}

.footer button {
  flex: 1;
  width: 100%;
  padding: 20px;
  background-color: rgb(0, 140, 190);
  margin: 5px;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
  cursor: pointer;
}



.footer button:hover {
  background-color: #0056b3;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 20px); /* Two cards per row on medium screens */
  }
}

@media (min-width: 900px) {
  .card {
    flex: 1 1 calc(33.33% - 20px); /* Three cards per row on large screens */
  }
}